:root{
/* Здесь описываются CSS переменные 
   Имя переменной начинается с --
   Значение переменной записывается после двоеточия
   */
  
/*   основной цвет !!! */
  --primary: #041638;

/* основной цвет текста !!! */
  --text: #ffffff;

/* дополнительный цвет !!! */
  --secondary: #abcc88;
/* дополнительный цвет. светлый вариант !!! */
  --secondary-light: #ffeeee;
  
/* основной размер шрифта !!! */
  --size: 14px;
  
/*   остальные размеры */
  --size2: 1.15em;
  --size3: 1.38em;
  --size4: 1.53em;
}


/* Для всей страницы !!! */
body{
  font-family: URW Chancery L, cursive;  /* Основной и запасной шрифт */
  font-size: var(--size);
  color: var(--text);
  background: #041638;     /* !!! */
}
a

li{
  list-style-type: none;
}


.row li{
  list-style-type: square;
}


a{
  text-decoration: none;
}


p{
  margin: 5px 10px;
}


/* заголовоки первого-третьего уровня */
h1{
  font-size: var(--size4)
}

h2{
  font-size: var(--size3)
}

h3{
  font-size: var(--size2)
}


/* Заголовок */
.call-us{
  padding: 20px;
}


/* номер телефона !!! */
#header-tel-number{
  font-size: 1.5em;
}

/* подпись (ссылка) к номеру телефона !!! */
.Title-right a{
#header-tel-label
  font-size: 1.5em;
  background: var(--primary);
  color: var(--secondary-light);
}





/* Навигация */
.main-nav{
  background: var(--secondary-light);  /* --- */
  justify-content: flex-start;
  height: 80px;
  
  align-items: center;
  
  font-size: var(--size3);            /* --- */
  
  margin-bottom: 30px;  
  
  background: #797979;  /* !!! */
}


.main-nav li{
/*   padding: 20px; */
}

.main-nav li a{
  text-decoration: none;
  color: var(--text);                 /* ---- */
  
  height: 100%;
  padding: 29px;
}

.main-nav li a:hover{
  background: var(--primary);        /* --- */
  color:  var(--accent-text);                      /* !!! */
}







/* Основной раздел */

.main-section{
  margin-left: 15px;
  background: #0e2c58;            /* !!! */
}

.main-section-1{
  background: var(--primary);       /* !!! */
  font-weight: 200;
  color: white;                     /* !!! */
  
  padding: 30px;
}

.cite-author{
  text-align: right;
}




.advantages h2{
  color: white;
  font-size: var(--size4);        /* !!! */
  background: var(--primary);     /* !!! */
  padding: 30px;
}

.advantages-list{
  justify-content: space-evenly;
}

.advantage-item{
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.advantage-item img{
  background: var(--secondary);     /* !!! */
}

.advantage-item span{
  text-align: center;
  font-size: var(--size2);          /* --- */
  color: var(--primary);            /* !!! */
}



code{
  font-family: courier;             /* !!! */
  display: block;
  white-space: pre-wrap   
}



footer{
  color: white;                     /* !!! */
}

